:root {
  --main-bg-color: #f1eaea;
  --main-text-color: #6b7280;
  --container-width: 100%;
}

.navbar {
  --nav-icon-color: #5db15d;
  --nav-text-color: #5db15d;
  --nav-icon-font-size: 1.1rem;
}

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  width: var(--container-width);
  color: var(--main-text-color);
  margin: auto;
  padding: 0.5rem;
}

/* Logo Section */
.logo {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
}

.logo h1 {
  font-weight: normal;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: #5db15d;
  border-radius: 0.8rem;
  color: whitesmoke;
}

.logo img {
  max-width: 70px;
  border-radius: 50%;
}

/* Header and navigation style */
.header {
  width: 100%;
  padding: 0.5rem 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

/* Mobile navigation bar */
.mobileNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  color: var(--nav-icon-color);
}

.loginbtn {
  border: 1px gray solid;
  border-radius: 5px;
  padding: 0.2rem 0.75rem;
  box-shadow: 1px 1px 1px green;
  color: var(--nav-text-color);
}

.myIcon {
  font-size: var(--nav-icon-font-size);
}

.hamburger {
  border: 1px grey solid;
  border-radius: 5px;
  padding: 0.2rem;
  box-shadow: 1px 1px 1px gray;
}

/* Desktop Navigation bar */
.items {
  display: none;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 0.3rem;
  position: absolute;
  top: 3.8rem;
  right: 2.5rem;
  box-shadow: -2px 2px 2px grey;
  border-right: 1px gray solid;
  z-index: 1;
}

.items.show {
  display: flex;
  flex-direction: column;
}

.items li a {
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  color: var(--main-text-color);
  padding: 0.5rem 1.2rem;
  margin: 0.5rem 0.2rem;
  width: 10rem;
}

.items li a:not(.last) {
  border-bottom: 1px grey solid;
}

/* Search bar Styling */
.searchbar {
  display: flex;
  margin: 0.5rem 1.2rem;
  position: relative;
}

.search {
  flex-grow: 1;
  position: relative;
  padding: 0.8rem;
  background-color: #e6e4e4;
  border: none;
  border-radius: 10px;
}

.search:focus {
  outline: none;
  box-shadow: 1px 2px 2px gray;
  transition: 300ms ease-in-out;
}

.searchIcon {
  position: absolute;
  font-size: 18px;
  top: 50%;
  right: 1rem;
  color: #5db15d;
  opacity: 0.7;
  transform: translate(0, -50%);
  transition: opacity 200ms ease-in-out;
  cursor: pointer;
}

.searchIcon:hover {
  opacity: 1;
}

/* Hide the image slider for mobile screens */
.slider-container {
  display: none;
}

/* Category indicator Style on mobile screen */
.indicator {
  margin: 1.3rem 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.indicator p {
  font-size: small;
  cursor: pointer;
  transition: color 200ms ease-in-out;
  color: #5db15d;
  opacity: 0.6;
  transition: opacity 200ms ease-in-out;
  white-space: nowrap;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
}

.category i {
  font-size: 1rem;
  color: #5db15d;
  opacity: 0.8;
  transition: opacity 200ms ease-in-out;
}

.category:hover i {
  opacity: 1;
}

.category:hover p {
  opacity: 1;
}

/* Product category showcase styling -> mobile screen */
.product-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-list .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem;
}

.heading a,
.heading h3 {
  text-decoration: none;
  display: inline-block;
  color: #5db15d;
  opacity: 0.7;
  transition: opacity 200ms ease-in;
  font-weight: normal;
}

.heading a:hover {
  opacity: 1;
}

.card-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1rem;
  column-gap: 0.3rem;
}

.product-card {
  height: 60vmin;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.3rem;
  border-radius: 0.7rem;
  position: relative;
  cursor: pointer;
  box-shadow: 2px 2px 3px #93a793;
}

.heart-icon {
  position: absolute;
  font-size: 1.2rem;
  color: #5db15d;
  opacity: 0.7;
  top: 0.5rem;
  right: 0.5rem;
  transition: opacity 200ms ease-in-out;
}

.heart-icon:hover {
  opacity: 1;
}

.product-card img {
  width: 100%;
  height: 63%;
  border-radius: 0.8rem 0.8rem 0 0;
}

.product-card h3 {
  font-weight: normal;
  margin: 0.3rem 0 0 0.3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px;
  opacity: 0.8;
}

.product-card div {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 0.3rem;
  position: relative;
}

.product-card div p,
.product-card div i {
  font-weight: bold;
  font-size: 1rem;
  opacity: 0.8;
}

.product-card div i {
  position: absolute;
  right: 1rem;
  color: #5db15d;
  transition: opacity 200ms ease-in-out;
}

.product-card div i:hover {
  opacity: 1;
}

.quantity {
  font-weight: normal;
  margin: 0 0.3rem 0.3rem;
}

/* Footer Section style for mobile screens */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0;
  border-radius: 1.2rem;
  background-color: #36383b;
  padding: 1rem 0;
}

.footer h2 {
  font-weight: normal;
  font-size: 1.2rem;
  padding: 0.3rem;
}

.footer-element img {
  width: 4rem;
  height: 3rem;
  border-radius: 12px;
}

.footer p {
  color: #5db15d;
  opacity: 0.5;
}

.footer a {
  text-decoration: none;
  color: #5db15d;
  opacity: 0.8;
  transition: opacity 200ms ease-in-out;
}

.footer a:hover {
  opacity: 1;
}

.footer-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.6rem 0;
  padding: 0.4rem;
  line-height: 1.6;
}

.footer-element div {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.footer-element .contact {
  gap: 0.6rem;
}

.footer-element:nth-last-child(2) i {
  font-size: 1.3rem;
  color: #5db15d;
  opacity: 0.7;
  transition: opacity 100ms ease-in-out;
  cursor: pointer;
}

.footer-element:nth-last-child(2) i:hover {
  opacity: 1;
}

/* Remove Elements from mobile screens */
@media (max-width: 1024px) {
  .items li a:hover {
    background-color: #5db15d;
    transition: 300ms ease-in-out;
  }
}

/* Desktop navigation bar */
@media (min-width: 1025px) {
  body {
    padding: 0;
  }

  .navbar {
    margin: 1.2rem 10%;
  }

  /* Logo Section for desktop screen */
  .logo {
    gap: 1rem;
  }

  .logo h1 {
    font-size: 1.5rem;
  }

  .mobileNav {
    display: none;
  }

  .items {
    display: flex;
    flex-direction: row;
    position: static;
    box-shadow: none;
    border: none;
    padding: 0;
  }

  .myIcon {
    color: #5db15d;
    opacity: 0.7;
    transition: opacity 200ms ease-in-out;
  }

  .myIcon:hover {
    opacity: 1;
  }

  .right {
    display: flex;
    align-items: center;
  }

  .items li a:not(.last) {
    border: none;
    color: var(--main-text-color);
  }

  .items li a {
    display: inline;
  }

  .items li a:not(.last):hover {
    color: #5db15d;
    transition: 300ms ease-in-out;
  }

  .right .last {
    display: inline;
    border: 1px var(--nav-icon-color) solid;
    background-color: var(--nav-icon-color);
    color: rgb(253, 249, 249);
    box-shadow: 2px 2px 2px green;
    opacity: 0.7;
    transition: opacity 200ms ease-in-out;
  }

  .right .last:hover {
    opacity: 1;
  }

  /* Searchbar on the desktop */
  .searchbar {
    margin: 0 20%;
    padding: 0 0 0 1.2rem;
  }

  .search {
    padding: 1rem;
  }

  /* Desktop Image slider */
  .slider-container {
    margin: 1.2rem 10%;
    height: 55vmin;
    display: flex;
    gap: 1.2rem;
    overflow-x: auto;
    border-radius: 0.6rem;
    box-shadow: 4px 4px 10px #b6adad;
    padding: 0.2rem;
    background-color: #c4c2c2;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    anchor-name: --slider;
    scroll-marker-group: after;
  }

  .slider-container::-webkit-scrollbar {
    display: none;
  }

  .slider-container::scroll-button(right),
  .slider-container::scroll-button(left) {
    content: "\2192";
    font-size: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #5db15d;
    color: rgb(252, 233, 233);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: fixed;
    position-anchor: --slider;
    position-area: right center;
    transform: translateX(-100%);
  }

  .slider-container::scroll-button(left) {
    content: "\2190";
    position-area: left center;
    transform: translateX(100%);
  }

  .slider-container::scroll-button(right):disabled,
  .slider-container::scroll-button(left):disabled {
    opacity: 0.5;
    cursor: auto;
  }

  .slider-container::scroll-marker-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
  }

  .slides::scroll-marker {
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #6b7280;
    transition: 200ms ease-in;
  }

  .slides::scroll-marker:target-current {
    background-color: #5db15d;
  }

  .slides {
    flex: 0 0 100%;
    height: 100%;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px;
    scroll-snap-align: start;
    position: relative;
  }

  .slides img {
    border-radius: 0.5rem;
    aspect-ratio: 6 / 6;
    width: 100%;
    height: 100%;
    object-fit: var(--container-width);
  }

  /* Definitely we will change the colors used here */

  .slides h2 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(109, 104, 104);
    line-height: 1;
  }

  .slides span {
    background-color: #5db15d;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 34px;
    color: #1b4332;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slides h4 {
    position: absolute;
    bottom: 10%;
    left: 1.5rem;
    color: rgb(43, 39, 39);
  }

  /* Desktop screen category indicator */
  .indicator {
    margin: 3rem 30%;
    justify-content: space-between;
  }

  .category i {
    font-size: 1.5rem;
    transition: transform 200ms ease-in-out;
  }

  .category:hover i {
    opacity: 1;
    transform: scale(1.1);
  }

  /* Desktop Product category showcase styling */
  .product-list {
    margin: 1.3rem 5%;
  }
  .card-container {
    display: flex;
    width: 100%;
    gap: 1rem;
    flex-wrap: nowrap;
    gap: 1.2rem;
    padding: 0.7rem;
    border-radius: 0.8rem;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    anchor-name: --move;
  }

  .card-container::-webkit-scrollbar {
    display: none;
  }

  .card-container::scroll-button(left),
  .card-container::scroll-button(right) {
    content: "\003C";
    font-size: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #5db15d;
    color: rgb(252, 233, 233);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: fixed;
    position-anchor: --move;
    position-area: left center;
    transform: translateX(100%);
    z-index: 1;
  }

  .card-container::scroll-button(right) {
    content: "\003E";
    position-area: right center;
    transform: translateX(-100%);
  }

  .card-container::scroll-button(right):disabled,
  .card-container::scroll-button(left):disabled {
    opacity: 0.5;
    cursor: auto;
  }

  .product-card {
    width: 16rem;
    height: 50vmin;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }

  .product-card h3 {
    width: 250px;
  }

  .product-card img {
    width: 16rem;
    height: 70%;
    border-radius: 0.8rem 0.8rem 0 0;
  }

  /* Footer section for Desktop screens */
  .footer {
    flex-direction: row;
    justify-content: space-around;
    margin: 1.5rem 2%;
    position: relative;
  }

  .footer-element {
    line-height: 2;
  }

  .footer p {
    position: absolute;
    bottom: 0.8rem;
  }
}
