* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 1.5rem 0.7rem;
  background-color: #f1eaea;
  color: #6b7280;
}

/* Header section style */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem;
  gap: 2rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.logo h1 {
  display: none;
  cursor: pointer;
}

.logo img {
  max-width: 70px;
  border-radius: 50%;
}

.searchbar {
  position: relative;
  display: flex;
  width: 100%;
}

.search {
  flex: 1;
  padding: 0.8rem;
  border: none;
  border-radius: 0.5rem;
  transition: box-shadow 300ms ease-in-out;
}

.search:focus {
  outline: none;
  box-shadow: 1px 1px 1px grey;
}

.searchIcon {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  color: #5db15d;
  opacity: 0.7;
  transition: opacity 200ms ease-in-out;
  cursor: pointer;
}

.searchIcon:hover {
  opacity: 1;
}

.myIcon {
  font-size: 1.2rem;
  color: #5db15d;
  opacity: 0.7;
  cursor: pointer;
}

.myIcon:hover {
  opacity: 1;
}

/* Category section style */
.category {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.2rem;
    gap: 1.5rem;
    flex-wrap: nowrap;
}

.category a {
    text-decoration: none;
    color: #5db15d;
    opacity: 0.7;
    transition: opacity 200ms ease-in-out;
    font-size: 0.9rem;
}

.category a:hover {
    opacity: 1;
}

.category .current {
    opacity: 1;
}

@media (min-width: 1025px) {
  /* Header style for desktop screen */
  .header {
    margin: 1.2rem 20%;
    justify-content: space-around;
  }

  .logo h1 {
    display: inline-block;
    font-weight: normal;
    font-size: 1rem;
    padding: 0.5rem;
    background-color: #5db15d;
    border-radius: 0.8rem;
    color: whitesmoke;
    white-space: nowrap;
  }

  /* Category for desktop screen */
  .category {
    gap: 2rem;
  }
}
